.container {
  max-width: 100%;
  display: flex;
  justify-content: center;

  .loginForm {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-black;
    border-radius: 5px;
    padding: 40px;
    margin-top: 100px;

    .title {
      font-size: larger;
      font-weight: bold;
      margin-bottom: 50px;
    }

    div {
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;

      label {
        flex: 1;
      }

      .input {
        flex: 1;
        border: 1px solid $color-black;
        border-radius: 5px;
        padding: 8px;
      }
    }

    .button {
      border: 1px solid;
      border-radius: 5px;
      background-color: $color-blue-600;
      color: $color-white;
      padding: 10px 20px;
    }
  }
}
